/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article { display: block; }
html							{ background: #083d6f url("../images/html-bg.png") repeat-x 0 0; }
body 							{ background-color: transparent; margin: 0 auto; padding: 22px 0; width: 970px; position: relative; }
.container 						{ /*-moz-box-shadow: 0px 0px 10px #C8C8C8; -webkit-box-shadow: 0px 0px 10px #C8C8C8;*/ /*background-color: #fff;*/ padding: 15px 15px 0 15px; margin: 0;/* -moz-border-radius: 10px; -webkit-border-radius: 10px;*/ }


/*.container 						{ background: transparent url("../images/grid.png") repeat-y top center; }*/

/* WIDELY USED CLASSES */
.clear 							{ clear: both; }

div.flash 						{ padding: 8px 12px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 2px solid #ccc; margin: 10px 0; }
div.error 						{ background: #fcc; border-color: #911; color: #311; }
div.notice 						{ background: #cfc; border-color: #191; color: #131; }

/* HEADER
================================= */
header.brand					{ position: relative; height: 55px; margin-bottom: 15px; }
header.brand h1					{ margin: 0 0 10px 0; padding: 0; position: relative; }
header.brand h1	span			{ color: #fff; display: block; font-size: 14px; position: absolute; left: 60px; bottom: -1px; }
header.brand h1 a.logo			{ height: 50px; position: relative; margin: 0; padding: 0 0 0 58px; display: inline-block; font-weight: bold; color: #fff; background: transparent url("../images/avatar.png") no-repeat top left; }

header #user_bar				{ position: absolute; right: 0; top: 0; }
header #user_bar a.login		{ background: transparent url("../images/sign-in-with-twitter.png") no-repeat top left; width: 151px; height: 24px; display: block; text-indent: -9999px; }

header #user_bar				{ background-color: #fff;  -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 4px 8px; }
header #user_bar p 				{ margin: 0 0 0 30px; padding: 8px 10px; min-width: 235px; }
header #user_bar p a			{ border-left: 1px solid #ccc; margin-left: 8px; padding-left: 10px; }
header #user_bar img 			{ position: absolute; top:6px; left:10px; padding: 2px; border: 1px solid #e1e1e1; }


/* CONTENT AREA // SIDEBAR
------------------------------*/
.content 						{ display: table; margin-bottom: 15px; }
.body		 					{ display: table-cell; width: 620px; padding-right: 22px; }
section							{ border: 10px solid lightblue; background-color: #fff; padding: 15px; margin-bottom: 15px; -moz-box-shadow: 0px 0px 10px #00274c; -webkit-box-shadow: 0px 0px 10px #00274c;  -moz-border-radius: 4px; -webkit-border-radius: 4px; }
section header					{ margin-bottom: 8px; border-bottom: 1px solid #e1e1e1; }
section header h2				{ position: relative; }
aside 							{ display: table-cell; width: 280px; }
aside section					{ background-color: #e5effb; margin-bottom: 0;  -moz-box-shadow: 0px 0px 10px #00274c; -webkit-box-shadow: 0px 0px 10px #00274c;  -moz-border-radius: 4px; -webkit-border-radius: 4px;}
aside section header			{ border-bottom: 1px solid #b1ccea; margin-top: 30px; }
aside section header.first		{ margin-top: 0; }

span.sort										{ position: absolute; right: 0; top: 6px; font-size: 11px; text-align: right; display: inline-block; }
span.sort a										{ background-color: #ccc; -moz-border-radius: 4px; -webkit-border-radius: 4px; color: #fff; padding: 3px 5px; }
span.sort a.current, span.sort a:hover.current	{ background-color: #083d6f;}

section#question header h2, section#answers header h2, section#contestants header h2		{ color: #00a513; }
section#question h3				{ font-weight: bold; margin-top: 15px; line-height: 1.3em; }
section#question h3	span		{ color: #c3c3c3; font-weight: normal; }

/* TWEETS
================================= */
ul.tweets 								{ position: relative; z-index: 3; margin: 0 0 15px 0; list-style: none; }
ul.tweets li 							{ padding: 15px 0; border-bottom: 1px solid #e1e1e1; display: inline-block; }
ul.tweets li.first						{ padding: 0 0 15px 0; }
ul.tweets li .thumb 					{ margin-left: 10px; padding: 2px; height: 48px; width: 48px; float: left; border: 1px solid #e1e1e1; background-color: #fff; }
ul.tweets li .thumb a img 				{ height: 48px; width: 48px; }
ul.tweets li .tweet 					{ padding-left: 75px; }
ul.tweets li .tweet h2 					{ line-height: 20px; margin-bottom: 5px; }
ul.tweets li .tweet h2 a:hover			{ text-decoration: underline; }
ul.tweets li .tweet span.author			{ margin-left: 17px; text-align: left; color: #8B8A8A; text-decoration:none; text-transform:uppercase;}
ul.tweets li .tweet span a 				{ text-decoration: underline; text-transform: lowercase; }
ul.tweets li .tweet a.fn 				{ font-weight: 500; color: #555; text-decoration:none; }
ul.tweets li .tweet a.fn:hover 			{ color: #555; text-decoration:underline; }
ul.tweets li .tweet a.date				{ color: #8B8A8A; font-size:9px; text-decoration:none; text-transform:lowercase; }
ul.tweets li .tweet a.date:hover		{ color: #555; }	
ul.tweets li .tweet .ft					{ position: absolute; left: 7px; bottom: -9px; background: transparent url("../images/carrot.png") no-repeat 0 0; width:9px; height: 9px; }

ul.tweets li .tweet p 					{ background-color: #fff; width: 398px; position: relative; padding: 5px 12px; margin: 0 68px 6px 0; line-height: 16px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #e1e1e1; }
ul.tweets li .tweet h5 a 				{ color: #444; }

ul.tweets li.winner						{ background-color: lightblue; }

section#contestants img a				{ margin-right: 2px; margin-bottom: 2px; }

/* BUTTONS
================================= */
.button, .button:visited {
	background: #222 url("../images/overlay.png") repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

	.button:hover							{ background-color: #111; color: #fff; }
	.button:active							{ top: 1px; }
	.small.button, .small.button:visited 			{ font-size: 11px; padding: ; }
	.button, .button:visited,
	.medium.button, .medium.button:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.button, .large.button:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.green.button, .green.button:visited		{ background-color: #91bd09; }
	.green.button:hover						{ background-color: #749a02; }
	.blue.button, .blue.button:visited		{ background-color: #2daebf; }
	.blue.button:hover							{ background-color: #007d9a; }
	.red.button, .red.button:visited			{ background-color: #e33100; }
	.red.button:hover							{ background-color: #872300; }
	.magenta.button, .magenta.button:visited		{ background-color: #a9014b; }
	.magenta.button:hover							{ background-color: #630030; }
	.orange.button, .orange.button:visited		{ background-color: #ff5c00; }
	.orange.button:hover							{ background-color: #d45500; }
	.yellow.button, .yellow.button:visited		{ background-color: #ffb515; }
	.yellow.button:hover							{ background-color: #fc9200; }


/* SIDEBAR
------------------------------*/
aside section header h3				{ font-size: 18px; }
aside section ul 					{ margin: 0; list-style: none; }
aside section ul li					{ margin-bottom: 8px; }
aside section ul li a 				{ display: block; text-decoration: none; color: #000; }
aside section ul li a:hover 		{ text-decoration: underline; }

#twtr-search-widget .twtr-doc .twtr-hd,
#twtr-search-widget .twtr-doc .twtr-ft,
#twtr-search-widget .twtr-doc .twtr-hashtag,
#twtr-search-widget .twtr-doc .twtr-user,
#twtr-search-widget .twtr-doc .twtr-tweet-text i a.twtr-reply		{ display: none; } 

#twtr-search-widget .twtr-doc .twtr-tweet-text i		{ display: block;}
#twtr-search-widget .twtr-doc .twtr-tweet-text i a	{ color: #8B8A8A; font-size:9px; text-decoration:none; text-transform: lowercase; }
#twtr-search-widget .twtr-doc .twtr-img		{ margin-left: 0; padding: 2px; height: 48px; width: 48px; float: left; border: 1px solid #e1e1e1; background-color: #fff; }
#twtr-search-widget .twtr-doc .twtr-tweet-text { padding-left: 68px; }

ol.steps 							{ list-style: none; margin: 0; }
ol.steps li							{ margin-bottom: 10px; padding: 4px 0 0px 35px; border-bottom: 1px dashed #b7d1ee; }
ol.steps li p						{ font-weight: bold; font-size: 12px; }
ol.steps li p span					{ display: block; margin-bottom: 0; font-size: 12px; font-weight: normal; }
ol.steps li.step1					{ background: transparent url("../images/step1.png") no-repeat 0 0; }
ol.steps li.step2					{ background: transparent url("../images/step2.png") no-repeat 0 3px; padding-top: 0; padding-bottom: 7px; }
ol.steps li.step3					{ background: transparent url("../images/step3.png") no-repeat 0 0; }
ol.steps li.step4					{ background: transparent url("../images/step4.png") no-repeat 0 0; padding-top: 0; }


ol.leaders 							{ list-style: none; margin: 0; }
ol.leaders li						{ margin-bottom: 5px; padding: 3px 12px 10px 0; border-bottom: 1px dashed #b7d1ee; }
ol.leaders li span					{ color: #fff; margin-bottom: 0; font-size: 11px; font-weight: normal; background-color: #5fbad8; padding: 4px 6px; margin-right: 12px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
ol.leaders li span em				{ display: inline-block; font-style: normal; }

/* PAGINATION 
------------------------------*/
.pagination a 						{ border:solid 1px #C8C8C8; margin-right:2px;}
.pagination .disabled.prev_page,
.pagination .disabled.next_page 	{ border: solid 1px #C8C8C8; color:#888888; display: inline-block; /*float:left;*/ font-weight:bold; margin-right:2px; padding:4px 6px; }
.pagination .next_page a,
.pagination .prev_page a 			{ font-weight: bold; }
.pagination .current				{ background:#2e6ab1; color:#FFFFFF; font-weight: bold; display: inline-block; /*float:left;*/ padding:4px 8px; }
.pagination a:link,
.pagination a:visited 				{ color:#0e509e; display: inline-block; /*float:left;*/ padding:3px 6px; text-decoration:none; }
.pagination a:hover 				{ border:solid 1px #0e509e; }
.pagination .gap					{color:#2c6f00; font-weight:bold; display: inline-block; }

/* FOOTER
------------------------------*/
footer div 							{ display: block; padding: 0; text-align: center; }
footer p 							{ margin-top: 10px; }
footer section						{ padding-top: 2px; padding-bottom: 2px;}


.hidden { display:none; }
.credits { font-size:.8em; }
.credits a { font-weight:bold; }








