development:
  strategy: oauth
  oauth_consumer_key: "TUfhBJEG5NiNGU90YyEk1g"
  oauth_consumer_secret: "9AuOnMx4SXminmNORs0A6NSJpVJMARX3lTfxM060"
  base_url: "http://twitter.com"
  authorize_path: "/oauth/authorize"
  api_timeout: 10
  remember_for: 14 # days
  oauth_callback: "http://rr.local/oauth_callback"

test:
  strategy: oauth
  oauth_consumer_key: "TUfhBJEG5NiNGU90YyEk1g"
  oauth_consumer_secret: "9AuOnMx4SXminmNORs0A6NSJpVJMARX3lTfxM060"
  authorize_path: "/oauth/authorize"  
  base_url: "http://twitter.com"
  api_timeout: 10
  remember_for: 14 # days
  oauth_callback: "http://rr.local/oauth_callback"

production:
  strategy: oauth
  oauth_consumer_key: "TUfhBJEG5NiNGU90YyEk1g"
  oauth_consumer_secret: "9AuOnMx4SXminmNORs0A6NSJpVJMARX3lTfxM060"
  authorize_path: "/oauth/authorize"  
  base_url: "http://twitter.com"
  api_timeout: 10
  remember_for: 14 # days
