<section id="answers">
	<header>
		<h2>Who Has The Answer?</h2>
	</header>
	<ul id="mentions" class="hfeed tweets">
	  <p id='loading_mentions'>Loading Twitter mentions...</p>
	</ul>
</section>

<script type="text/javascript">
$(function(){
  new_page_load = 1;
  loadMentions();
});

function loadMentions() {
  $.ajax({
    type: "GET",
    url: "/mentions",
    data: ({new_page_load : new_page_load}),
    dataType: "html",
    success: function(html) {
      $('#loading_mentions').fadeOut('slow');
      $('#mentions').prepend(html);
      $('.new_mentions').slideDown("slow");
      if ($('#mentions .tweet p')) {
        linkize();
        last_tweet_id = $('#mentions .tweet p:first').id;
        new_page_load = 0;
      }
      setTimeout(function() {
          loadMentions();
        }, 30000
      );
    }
  });
}

function linkize() {
  tweets = $('.new_mentions .tweet p');
  for (var i = 0 ; i != tweets.length ; i++) {
    text = tweets[i].innerHTML.replace(/((https?|s?ftp|ssh)\:\/\/[^"\s\<\>]*[^.,;'">\:\s\<\>\)\]\!])/g, function(url) {
      return '<a target="_blank" href="'+url+'">'+url+'</a>';
    }).replace(/\B@([_a-z0-9]+)/ig, function(reply) {
      return  reply.charAt(0)+'<a target="_blank" href="http://twitter.com/'+reply.substring(1)+'">'+reply.substring(1)+'</a>';
    });
    tweets[i].innerHTML = text;
  }
  $('.new_mentions').removeClass('new_mentions');
}
</script>