<!-- <h2>Welcome to Your Twitter Application!</h2>

<p>You have successfully created a Twitter-ready application! To test it out just click on <strong>Login via Twitter</strong> above. You should be taken to Twitter and then back here where it will tell you that you are logged in!</p>

<p>This template doesn't assume anything about how you want to build your application other than that you want to use Twitter authentication to do it, so you can generate any controllers, models, and anything else you like! You can tie it back to Twitter accounts simply by adding associations etc. to <code>app/models/user.rb</code>.</p> -->
<section>
	<header>
		<h2>The Answers</h2>
	</header>
	<ul id="mentions" class="hfeed tweets">
	  <p id='loading_mentions'>Loading Twitter mentions...</p>
	</ul>
</section>


<% if @users.any? %>
<section>
  <header><h2>The Contestants</h2></header>
  <% for user in @users %>
    <%= link_to profile_image(user), twitter_profile_url(user), :target => "_blank" %>
  <% end %>
</section>
<% end %>



<script type="text/javascript">
$(function(){
  loadMentions();
});

function loadMentions() {
  $.ajax({
    type: "GET",
    url: "/mentions",
    dataType: "html",
    success: function(html) {
      $('#loading_mentions').fadeOut('slow');
      $('#mentions').prepend(html);
      if ($('#mentions .tweet p')) last_tweet_id = $('#mentions .tweet p')[0].id;
      setTimeout(function() {
          loadMentions();
        }, 600000
      );
    }
  });
}
</script>