<section>
	<header>
		<h2>The Answers</h2>
	</header>
	<ul id="mentions" class="hfeed tweets">
	  <p id='loading_mentions'>Loading Twitter mentions...</p>
	</ul>
</section>


<% if @users.any? %>
<section>
  <header><h2>The Contestants</h2></header>
  <% for user in @users %>
    <%= link_to profile_image(user), twitter_profile_url(user), :target => "_blank" %>
  <% end %>
</section>
<% end %>

<script type="text/javascript">
$(function(){
  new_page_load = 1;
  loadMentions();
});

function loadMentions() {
  $.ajax({
    type: "GET",
    url: "/mentions",
    data: ({new_page_load : new_page_load}),
    dataType: "html",
    success: function(html) {
      $('#loading_mentions').fadeOut('slow');
      $('#mentions').prepend(html);
      $('.new_mentions').slideDown("slow").removeClass('new_mentions');
      if ($('#mentions .tweet p')) {
        last_tweet_id = $('#mentions .tweet p:first').id;
        new_page_load = 0;
      }
      setTimeout(function() {
          loadMentions();
        }, 30000
      );
    }
  });
}
</script>