<footer>
	<div>
		<section>
			<p>&copy; 2009 MovieTwitvia.</p>
			<p class='credits'><a href="http://railsrumble.com">Rails Rumble</a> entry by <a href="http://twitter.com/ayn">@ayn</a> &amp; <a href="http://twitter.com/rayvinly">@rayvinly</a>, designed by <a href="http://twitter.com/marchdoe">@marchdoe</a>.</p>
		</section>
	</div>
</footer>