<aside>
	<section>
		<header>
			<h2>How do I play?</h2>
		</header>
  	
			<ul>
				<li>
					<%= link_to image_tag("http://static.twitter.com/images/business/follow/follow_twitter_button_d.png", :alt => "Follow us on Twitter"), "http://twitter.com/MovieTwitvia", :title => "Follow us on Twitter" %>
				</li>
				
				<li>
					Answer the question
					example goes here
				</li>
				
				<li>sit tight and find out if you are the winner of the round</li>
			</ul>
	</section>
		
	<section>
		<header>
			<h2>The Leaders</h2>
		</header>
		
		<p>24hours, week, ever</p>

	</section>
</aside>